<% include ("./partials/header") %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About VannilaBakes</h1>
            <h3>What is Vannila Bakes?</h3>
            <hr>
            <p>
              <strong class="text-danger">Vannila Bakes</strong> is a bakery website. Users can view designs and order stuff they like.
              <a href="/register">sign up</a>.
            </p>
            <h3>Services</h3>
            <hr>
            <ul>
              <li>Door to door or pickup from our place</li>
              <li>Pay online OR order on call</li>
              <li>Go through our products and recipes.</li>
              <li>comment, rate and review our products.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <% include ("./partials/footer") %>
